body{
    background-color: #243040;/*vai mudar a cor de fundo para um "azul" da tematica do civico militar*/
    color: white;/*vai mudar a cor das letras para branco*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/*vai mudar a fonte das letras*/
    text-align: center;/*vai centralizar a escrita do texto*/
    font-size: 110%;/*vai aumentar o tamanho da escrita do texto*/
}
.civicomilitar {
    position: relative;/*vai fazer eu poder escolher a altura da imagem*/
}

.civicomilitar img {
    position: absolute; /*vai fazer a imagem ignorar o fluxo do texto (se nao colocar a imagem vai ficar em baixo do texto)*/
    top: -205px; /* altura da imagem no site*/
    right: -7%; /* distancia da margem do site*/
    width: 500px; /* vai definir o tamanho da imagem */
    height: auto; /* o auto vai acompanhar o tamanho da imagem */
}

h1{
    text-align: center;/*vai centralizar o titulo do site*/
    background-color: #5D733D;/*vai deixar a linha do titulo verde na tematica do civico militar*/
}